<br>
<br>
<br>

<form action="../user/create-session" method="post">
          <input type="email" name="email" placeholder="Your Email" required>
          <input type="password" name="password" placeholder="Password" required> 
          <button type="submit">sign in</button>
</form>